---
import Feature from '../components/Feature.astro';
import About from '../components/About.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout title="Welcome to Finatani | Aplikasi dengan fitur pencatatan pendapatan dan pengeluaran, memonitor profitabilitas, serta melakukan perencanaan keuangan untuk usaha pertanian.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<About/>
		<Feature/>
		<Testimonials/>
	</main>
</Layout>