---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer id="footer">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center">
                <img src="/finatani_logo.png" class="h-12 mr-3" alt="Finatani Footer Logo" />
            </a>

            <div class="mt-6">
                <div class="hidden">
                    <p class="md:text-lg font-semibold">{t('footer.subscribtion.text')}</p>
                    <form class="w-full max-w-md mx-auto mt-4">
                        <label for="default-email" class="mb-2 text-sm font-medium text-gray-900 sr-only">Email sign-up</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                                </svg>
                            </div>
                            <input type="email" id="default-email" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-green-500 focus:border-green-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:focus:ring-green-500 dark:focus:border-green-500" placeholder={t('footer.input.placeholder')} required>
                            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-mainGreen hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:hover:bg-mainGreen dark:focus:ring-green-800">{t('footer.input.button')}</button>
                        </div>
                    </form>
                </div>

                
                <!--Zoho Campaigns Web-Optin Form Starts Here-->
                <script is:inline type="text/javascript" src="https://zcsub-cmpzourl.maillist-manage.com/js/optin.min.js" onload="setupSF('sf3z06aec0fac5f0f5eaee300dc8e848c23161055496cbd898537950388d1641128b','ZCFORMVIEW',false,'light',false,'0')"></script>
                <script is:inline type="text/javascript">
                    function runOnFormSubmit_sf3z06aec0fac5f0f5eaee300dc8e848c23161055496cbd898537950388d1641128b(th){
                        let Zc_SignupSuccess = document.getElementById('Zc_SignupSuccess');
                        Zc_SignupSuccess.classList.remove('hidden');
                        Zc_SignupSuccess.classList.add('flex');
                    };
                </script>

                <div id="sf3z06aec0fac5f0f5eaee300dc8e848c23161055496cbd898537950388d1641128b" data-type="signupform">
                    <div id="customForm">
                        <!-- @ts-ignore -->
                        <div class="quick_form_7_css" name="SIGNUP_BODY">
                            <div>
                                <div id="SIGNUP_HEADING" class="md:text-lg font-semibold mb-4">{t('footer.subscribtion.text')}</div>
                                <div class="mb-4" style="position:relative;">
                                    <div id="Zc_SignupSuccess" class="hidden rounded-lg ring-1 p-4 ring-green-300 bg-green-50 items-center gap-2" style="word-break:break-all ">
                                        <!-- @ts-ignore -->
                                        <img class="successicon" src="https://zcsub-cmpzourl.maillist-manage.com/images/challangeiconenable.jpg" align="absmiddle">
                                        <span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
                                    </div>
                                </div>
                                <form method="POST" id="zcampaignOptinForm" class="w-full flex flex-col gap-2" action="https://zcsub-cmpzourl.maillist-manage.com/weboptin.zc" target="_zcSignup">
                                    <div id="errorMsgDiv" class="hidden">Please correct the marked field(s) below.</div>
                                    <div class="SIGNUP_FLD">
                                        <div>Email</div>
                                        <!-- @ts-ignore -->
                                        <input type="email" class="block w-full px-4 py-2.5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-green-500 focus:border-green-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:focus:ring-green-500 dark:focus:border-green-500" changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL">
                                        <span class="text-sm text-gray-400">Pastikan format email benar.</span>
                                    </div>
                                    <div class="SIGNUP_FLD">
                                        <div>Nama</div>
                                        <!-- @ts-ignore -->
                                        <input type="text" class="block w-full px-4 py-2.5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-green-500 focus:border-green-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:focus:ring-green-500 dark:focus:border-green-500" changeitem="SIGNUP_FORM_FIELD" name="LASTNAME" id="EMBED_FORM_NAME_LABEL">
                                    </div>
                                    <div class="SIGNUP_FLD w-full flex items-center justify-end mt-4">
                                        <input type="button" class="w-max rounded-md px-4 py-2 cursor-pointer text-white bg-green-500" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" value="Berlangganan">
                                    </div>
                                    <input type="hidden" id="fieldBorder" value="">
                                    <input type="hidden" id="submitType" name="submitType" value="optinCustomView">
                                    <input type="hidden" id="emailReportId" name="emailReportId" value="">
                                    <input type="hidden" id="formType" name="formType" value="QuickForm">
                                    <input type="hidden" name="zx" id="cmpZuid" value="133ee5b4c">
                                    <input type="hidden" name="zcvers" value="3.0">
                                    <input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
                                    <input type="hidden" id="mode" name="mode" value="OptinCreateView">
                                    <input type="hidden" id="zcld" name="zcld" value="112f952cc7696cad4">
                                    <input type="hidden" id="zctd" name="zctd" value="112f952cc7696a7a9">
                                    <input type="hidden" id="document_domain" value="">
                                    <input type="hidden" id="zc_Url" value="zcsub-cmpzourl.maillist-manage.com">
                                    <input type="hidden" id="new_optin_response_in" value="0">
                                    <input type="hidden" id="duplicate_optin_response_in" value="0">
                                    <input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
                                    <input type="hidden" id="zc_formIx" name="zc_formIx" value="3z06aec0fac5f0f5eaee300dc8e848c23161055496cbd898537950388d1641128b">
                                    <input type="hidden" id="viewFrom" value="URL_ACTION">
                                    <span style="display: none" id="dt_CONTACT_EMAIL">1,true,6,Contact Email,2</span>
                                    <span style="display: none" id="dt_FIRSTNAME">1,false,1,First Name,2</span>
                                    <span style="display: none" id="dt_LASTNAME">1,false,1,Last Name,2</span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <img src="https://zcsub-cmpzourl.maillist-manage.com/images/spacer.gif" id="refImage" onload="referenceSetter('sf3z06aec0fac5f0f5eaee300dc8e848c23161055496cbd898537950388d1641128b')">
                </div>
                <input type="hidden" id="signupFormType" value="QuickForm_Horizontal">
                <div id="zcOptinOverLay" oncontextmenu="return false" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;"></div>
                <div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
                    <span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
                        <img src="https://zcsub-cmpzourl.maillist-manage.com/images/videoclose.png">
                    </span>
                    <div id="zcOptinSuccessPanel"></div>
                </div>

                <!--Zoho Campaigns Web-Optin Form Ends Here-->
            </div>
        </div>
        <div class="grid gap-8 sm:gap-6 sm:grid-cols-3">
          <div>
              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">{t('footer.legal.title')}</h2>
              <ul class="text-gray-600 dark:text-gray-400 font-medium">
                  <li class="mb-4">
                      <a href=/ class="hover:underline">{t('footer.legal.aboutUs')}</a>
                  </li>
                  <li class="mb-4">
                      <a href=/ class="hover:underline">{t('footer.legal.privacyPolicy')}</a>
                  </li>
                  <li>
                      <a href=/ class="hover:underline">{t('footer.legal.termAndCondition')}</a>
                  </li>
              </ul>
          </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">{t('footer.cs.title')}</h2>
                <ul class="text-gray-600 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href=/ class="hover:underline">{t('footer.cs.telephone')}</a>
                    </li>
                    <li>
                        <a href=/ class="hover:underline">{t('footer.cs.email')}</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">{t('footer.cta.title')}</h2>
                <ul class="text-gray-600 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href=/>
                          <img src="/svg/google_play.svg" alt="Google Play">
                        </a>
                    </li>
                    <li>
                        <a href=/>
                          <img src="/svg/app_store.svg" alt="App store">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <br class="md:hidden"> <a href="/" class="hover:underline">PT Berkembang Bersama Petani Peternak</a>. <br class="md:hidden"> All Rights Reserved.
        </span>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a href=/ class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" /></svg>
                <span class="sr-only">Facebook page</span>
            </a>
            <a href=/ class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" /></svg>
                <span class="sr-only">Twitter page</span>
            </a>
            <a href=/ class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" /></svg>
                <span class="sr-only">Instagram page</span>
            </a>
        </div>
    </div>
  </div>
</footer>
