---
import Container from "./Container.astro"

---

<div id="home">
    <Container>
        <div class="relative pt-10 md:pt-24 ml-auto">
            <div class="md:w-3/4 text-center mx-auto">
                <h1 class="text-gray-900 font-bold text-3xl md:text-5xl tracking-[0.5px]">Cara baru untuk mencatat keuangan dan aktivitas pertanianmu.</h1>
                <p class="md:w-3/4 text-center md:text-xl mx-auto mt-8 text-gray-700 dark:text-gray-300">Dimanapun kamu berada, <span class="font-semibold text-mainGreen">FinaTani</span> menghubungkan aktivitas pertanian kamu dengan keuangan dan teknologi terkini</p>
                <div class="flex flex-col mt-5 md:mt-20">
                  <h1 class="font-medium text-xl text-gray-900">Coba FinaTani sekarang</h1>
                  <div class="mt-6 flex flex-wrap justify-center gap-y-4 gap-x-6">
                      <a href="#">
                        <img src="/svg/google_play.svg" alt="Google Play">
                      </a>
                      <a href="#">
                        <img src="/svg/app_store.svg" alt="App store">
                      </a>
                  </div>
                </div>
            </div>
        </div>
    </Container>
</div>